<div class="profile">
  <div class="d-flex chatbar back-btn align-items-center">
    <span><%= link_to chatrooms_path do%>
      <i class="fa-solid fa-chevron-left back-icon" style="color: #000000;"></i>
    <% end %>
    </span>
    <div class="chat-user">
      <span class="name"> <%= @profile.user.name %>
      </span>
    </div>
  </div>
  <div class="chat-profile">
    <%= link_to "Chat", chatrooms_path, class: ("flex-items a-colour" if current_page?(chatroom_path)) %>
    <%= link_to "Profile", profile_path(@profile.user.id), class: ("flex-items a-colour" if current_page?(profile_path(@profile.user.id))) %>
  </div>
  <div class="bottom-border"></div>
  <div class="users-profile-card" data-hide-cards-target="cards">
    <div>
      <%= image_tag("play_bar.png", alt: "Play bar", class: "user-profile-play-bar") %>
    </div>
    <div class="users-profile-photo">
      <div class="user-image-wrapper">
        <%= cl_image_tag @profile.user.photos.first.key, class: "d-block" if @profile.user.photos.present? %>
      </div>
    </div>
    <div class="user-profile-prompts">
      <div class="flex-items card-extended">
        <h4 class="prompt">A little about me...</h4>
        <div class="card-section">
          <%= @profile.user.description %>
        </div>
        <div>
          <% if @profile.user.photos.length > 1 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag @profile.user.photos[1].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">Currently on repeat:</h4>
        <div class="flex-items card-section">
          <%= @profile.user.on_repeat %>
        </div>
        <div>
          <% if @profile.user.photos.length > 2 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag @profile.user.photos[2].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">If my life had a theme song...</h4>
        <div class="flex-items card-section">
          <%= @profile.user.all_time_favorite %>
        </div>
        <div>
          <% if @profile.user.photos.length > 3 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag @profile.user.photos[3].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">My go to karaoke song</h4>
        <div class="flex-items card-section">
          <%= @profile.user.go_to_karaoke %>
        </div>
        <div>
          <% if @profile.user.photos.length > 4 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag @profile.user.photos[4].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
        <div class="flex-items card-extended">
          <h6 class="prompt">Top Genres</h6>
          <div class="profile-top-genres-list genres-list">
            <% @profile.user.top_genres.each do |genre| %>
              <ul><li><%= genre.genre.capitalize %></li></ul>
            <% end %>
          </div>
        </div>
      <div class="flex-items card-extended">
        <div class="top-tracks mt-5 spotify-user-data" data-controller="spotify-auth">
          <h5>My Top 5 Tracks</h5>
          <div class="btn btn-success my-2">
            See Tracks
          </div>
            <% @profile.user.top_tracks.each do |track| %>
            <p>
              <div class="d-flex">
                <div data-action="click->spotify-auth#playTrack" data-track-id="<%= track.spotify_ref %>" class="btn btn-primary"><%= track.track %></div>
                <div data-action="click->spotify-auth#pauseTrack" class="btn btn-danger mx-3">Stop</div>
              </div>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
