<div class="chatrooms-container">
  <h1 class="my-matches">C H A T S</h1>
    <% if @chatrooms.length > 0 %>
      <div class="chatroom-card" id="card-in">
        <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <div class="recipient-info">
            <% if User.find(chatroom.swipe.swiper_id) == current_user %>
              <%= cl_image_tag User.find(chatroom.swipe.swipee_id).photos[0].key, class: 'recipient-img' %>
              <%= content_tag(:h2, User.find(chatroom.swipe.swipee_id).name, class: 'recipient-name') %>
            <% else %>
              <%= cl_image_tag User.find(chatroom.swipe.swiper_id).photos[0].key, class: 'recipient-img' %>
              <%= content_tag(:h2, User.find(chatroom.swipe.swiper_id).name, class: 'recipient-name') %>
            <% end %>
            <% if !chatroom.messages.empty? %>
              <p class='last-message '>
                <%=  chatroom.messages.last.content.first(20) %>
              </p>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="match-end-card d-flex" >
          <p style="font-family: raleway">Don't have many matches to chat to?😶</p></div>
      </div>
    <% end %>
</div>


<%= render 'shared/footer' %>
