<div class="background__wrapper">
  <div class="background">
    <svg>
      <filter id="turbulence" x="0" y="0" width="100%" height="100%">
        <feTurbulence id="fluid" numOctaves="1" seed="1" baseFrequency="0.001 0.001" type="fractalNoise"></feTurbulence>
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="155" xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
        <animate xlink:href="#fluid" attributeName="baseFrequency" dur="30s" values="0.001 0.001;0.004 0.006;0.001 0.003;0.005 0.003;0.003 0.004;0.001 0.001" keySplines="
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99" keyTimes="
                    0;0.2;0.4;0.6;0.8;1" calcMode="spline" repeatCount="indefinite" />
      </filter>
    </svg>
  </div>
  <h1 style="font-family: Montserrat;
    position: absolute;
    top: 5%;
    text-align: center;
    left: 25%;
    font-weight: 900;
    color: white;">P O S S I B L E<BR>M A T C H</h1>
  <%# <div data-user="<%= user.id" class="users-container"> %>
  <div class="card" data-hide-cards-target="cards">
    <div class="profile-name">
      <ul><li><%= user.name %></li></ul>
    </div>
    <div>
      <%= image_tag("play_bar.png", alt: "Play bar", class: "play-bar") %>
      <div class="flex-container">
        <%= image_tag("swipe_left.png", alt: "Swipe left", class: "flex-items swipe-tools") %>
        <%= image_tag("swipe_right.png", alt: "Swipe right", class: "flex-items swipe-tools") %>
      </div>
        <%= image_tag("play_bar.png", alt: "Play bar", class: "play-bar") %>
    </div>
  </div>
  <div class="photo">
    <div class="user-image-wrapper">
      <%= cl_image_tag user.photos.first.key, class: "d-block" if user.photos.present? %>
    </div>
  </div>
  <div>
    <h6 style="font-family: Montserrat;
    position: absolute;
    top: 82%;
    text-align: center;
    left: 29%;
    font-weight: 900;
    color: white;">S C R O L L&nbsp;&nbsp;&nbsp;D O W N</h6>
    <%= image_tag("scroll_down.png", alt: "Scroll down", class: "scroll-down") %>
  </div>
</div>
