<div class="background__wrapper_user">
  <div class="background">
    <svg>
      <filter id="turbulence" x="0" y="0" width="100%" height="100%">
        <feTurbulence id="fluid" numOctaves="1" seed="1" baseFrequency="0.001 0.001" type="fractalNoise"></feTurbulence>
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="155" xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
        <animate xlink:href="#fluid" attributeName="baseFrequency" dur="30s" values="0.001 0.001;0.004 0.006;0.001 0.003;0.005 0.003;0.003 0.004;0.001 0.001" keySplines="
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99" keyTimes="
                    0;0.2;0.4;0.6;0.8;1" calcMode="spline" repeatCount="indefinite" />
      </filter>
    </svg>
  </div>
  <%# <div data-user="<%= user.id" class="users-container"> %>
  <div class="card" data-hide-cards-target="cards">
    <div class="d-flex justify-content-center">
      <h1 style="font-family: Montserrat;
        text-align: center;">P O S S I B L E<BR>M A T C H</h1>
    </div>
    <div class="other-user-name">
      <ul><li><%= user.name.capitalize %></li></ul>
      <p class="location"><%= user.location.capitalize %></p>
    </div>
    <div>
      <%= image_tag("play_bar.png", alt: "Play bar", class: "play-bar") %>
      <div class="flex-container">
        <div>
          <form action="/users/<%= user.id %>/dislike" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit">
              <%= image_tag("swipe_left.png", alt: "Swipe left", class: "flex-items swipe-tools") %>
            </button>
          </form>
        </div>
        <div>
          <form action="/users/<%= user.id %>/like" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit">
              <%= image_tag("swipe_right.png", alt: "Swipe right", class: "flex-items swipe-tools") %>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="photo">
    <div class="user-images">
      <%= cl_image_tag user.photos.first.key, class: "d-block" if user.photos.present? %>
    </div>
  </div>
  <div class="scroll">
    <h6 style="font-family: Montserrat;
    position: absolute;
    top: 41%;
    text-align: center;
    left: 29%;
    font-weight: 900;
    color: white;">S C R O L L&nbsp;&nbsp;&nbsp;D O W N</h6>
    <%= image_tag("scroll_down.png", alt: "Scroll down", class: "scroll-down") %>
  </div>
  <div class="prompts-container">
    <div class="user-prompts">
      <div class="flex-items card-extended">
        <h4 class="prompt">A little about me...</h4>
        <div class=" card-section">
          <%= user.description %>
        </div>
        <div>
          <% if user.photos.length > 1 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag user.photos[1].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">Currently on repeat:</h4>
        <div class="flex-items card-section">
          <%= user.on_repeat %>
        </div>
        <div>
          <% if user.photos.length > 2 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag user.photos[2].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">If my life had a theme song...</h4>
        <div class="flex-items card-section">
          <%= user.all_time_favorite %>
        </div>
        <div>
          <% if user.photos.length > 3 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag user.photos[3].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">My go to karaoke song</h4>
        <div class="flex-items card-section">
          <%= user.go_to_karaoke %>
        </div>
        <div>
          <% if user.photos.length > 4 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag user.photos[4].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <section class="spotify-auth mt-2" data-controller="spotify-auth">
        <div class="spotify-connect-auth" data-spotify-auth-target="auth">
          <div class="flex-items card-extended">
            <h4 class="spotify-data-titles">My Top Genres</h4>
            <div class="profile-top-genres-list genres-list">
              <% if user.top_genres.any? %>
                  <ul>
                  <% user.top_genres.each do |genre| %>
                  <% unless genre.genre.blank? %>
                      <li><%= genre.genre.capitalize %></li>
                    <% end %>
                  <% end %>
                  </ul>
              <% elsif %>
                <div class="my-spotify top-genres flex-items" data-action="click->spotify-auth#getTopGenres">
                  <div class="top-genres-container top-music-container">
                  </div>
                </div>
              <% else %>
                <div><p>Please connect your spotify account to Jam in order to see your top genres.
                  If you dont have Spotify, add your top genres.
                </p></div>
              <% end %>
            </div>
          </div>
        </div>
        <div
          class="spotify-env"
          data-client-id="<%= ENV["client_id"] %>"
          data-client-secret="<%= ENV["client_secret"] %>">
        </div>
        <div data-spotify-auth-target="genres"></div>
          <div class="spotify-user-data spotify">
            <div class="spotify-connect-auth top-genres mt-2">
              <div class="spotify-data mt-3">
                <h4 class="flex-items spotify-data-titles">My Top Artists</h4>
                <div class="my-spotify top-artists flex-items" data-action="click->spotify-auth#getTopArtists">
                  <div class="top-artists-container top-music-container">
                  </div>
                </div>
              <h4 class="flex-items spotify-data-titles">My Top Tracks</h4>
              <div class="my-spotify top-tracks flex-items" data-action="click->spotify-auth#getTopTracks">
                <div class="top-tracks-container top-music-container">
                </div>
              </div>
              </div>
              <div>
                <h4 class="flex-items spotify-data-titles">Can't see your spotify data?</h4>
                <div
                class="my-spotify btn my-2 flex-items"
                data-action="click->spotify-auth#linkToSpotify">You may need to reconnect to spotify, click here.
                </div>
              </div>
              <h4 class="flex-items spotify-data-titles">Update My Genres</h4>
              <div class="btn my-2 flex-items my-spotify" data-action="click->spotify-auth#getTopGenres">Consider updating your genres to give others an up-to-date glimpse of what you're currently listening to. This will enhance the accuracy of the music matching process, making it more effective in connecting you with like-minded individuals who share your musical preferences.</div>
                <div class="profile-top-genres-list mt-2 d-none">
                  <% user.top_genres.each do |genre| %>
                    <ul><li><%= genre.genre %></li></ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
