<div class="background__wrapper_user">
  <div class="background">
    <svg>
      <filter id="turbulence" x="0" y="0" width="100%" height="100%">
        <feTurbulence id="fluid" numOctaves="1" seed="1" baseFrequency="0.001 0.001" type="fractalNoise"></feTurbulence>
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="155" xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
        <animate xlink:href="#fluid" attributeName="baseFrequency" dur="30s" values="0.001 0.001;0.004 0.006;0.001 0.003;0.005 0.003;0.003 0.004;0.001 0.001" keySplines="
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99;
                      .52 .02 .62 .99" keyTimes="
                    0;0.2;0.4;0.6;0.8;1" calcMode="spline" repeatCount="indefinite" />
      </filter>
    </svg>
  </div>
  <h1 style="font-family: Montserrat;
    position: absolute;
    top: 2%;
    text-align: center;
    left: 25%;
    font-weight: 900;
    color: white;">P R O F I L E</h1>
  <%# <div data-user="<%= current_user.id" class="users-container"> %>
  <div class="profile-card" data-hide-cards-target="cards">
    <div class="profile-name">
      <%= current_user.name %>
    </div>
    <div>
      <%= image_tag("play_bar.png", alt: "Play bar", class: "profile-play-bar") %>
    </div>
    <div class="profile-photo">
      <div class="user-image-wrapper">
        <%= cl_image_tag current_user.photos.first.key, class: "d-block" if current_user.photos.present? %>
      </div>
    </div>
    <div class="profile-prompts">
      <div class="flex-items card-extended">
        <h2 class="prompt">A little about me...</h2>
        <div class=" card-section">
          <%= current_user.description %>
        </div>
        <div>
          <% if current_user.photos.length > 1 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag current_user.photos[1].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">Currently on repeat:</h4>
        <div class="flex-items card-section">
          <%= current_user.on_repeat %>
        </div>
        <div>
          <% if current_user.photos.length > 2 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag current_user.photos[2].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">If my life had a theme song...</h4>
        <div class="flex-items card-section">
          <%= current_user.all_time_favorite %>
        </div>
        <div>
          <% if current_user.photos.length > 3 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag current_user.photos[3].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex-items card-extended">
        <h4 class="prompt">My go to karaoke song</h4>
        <div class="flex-items card-section">
          <%= current_user.go_to_karaoke %>
        </div>
        <div>
          <% if current_user.photos.length > 4 %>
            <div class="user-image-wrapper">
              <%= cl_image_tag current_user.photos[4].key, class: "d-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
