<div class="footer-main d-flex">
  <div>
    <%=  link_to users_path do %>
    <%# <%= image_tag "jam-logo.png", class: "f-logo" %>
      <i class="fa-solid fa-house-fire" style="color: white;"></i>
    <% end %>
  </div>
  <div>
    <%= link_to chatrooms_path do %>
      <i class="fa-solid fa-envelope" style="color: white;"></i>
    <% end %>
  </div>
  <div>
    <%= link_to socials_path do %>
      <i class="fa-solid fa-icons" style="color: white;"></i>
    <% end %>
  </div>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user" style="color: white;"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="userDropdown">
      <% if user_signed_in? %>
        <li><%= link_to user_profile_path do %>
          Profile
        <% end %></li>
        <li><%= link_to "Log out", destroy_user_session_path, class: "account-option flex-items", data: {turbo_method: :delete} %></li>
        <% else %>
        <li><%= link_to new_user_session_path do %>
          Login
        <% end %></li>
      <% end %>
    </ul>
  </div>
</div>
