<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+New+Tai+Lue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/pnhskdva.json"
        trigger="click"
        colors="primary:#121331"
        state="intro"
        style="width:28px;height:28px">
    </lord-icon> %>
    <%# <script src="spotify_auth.js"></script> %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <%= javascript_include_tag "profile_chat" %>
  </head>

  <body>
    <div class="popup" id="mobilePopup">
        <p>This is a mobile app. Please open it on your mobile device.</p>
    </div>
    <%# <script src="script.js"></script> %>
    <div data-controller="message-notifications"></div>
    <%= yield %>
    <%= render 'shared/footer' unless (controller_name == 'pages' && action_name == "home") || (controller_name == 'sessions' && action_name == "new") || (controller_name == "chatrooms" && action_name == "show") || (controller_name == "socials" && action_name == "index")%>
  </body>
</html>
