<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+New+Tai+Lue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/pnhskdva.json"
        trigger="click"
        colors="primary:#121331"
        state="intro"
        style="width:28px;height:28px">
    </lord-icon> %>
    <%# <script src="spotify_auth.js"></script> %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> %>
    <%# <script>
      $(document).ready(function() {
        var scrollDownText = $("#scroll-down-text");

        $(window).on("scroll", function() {
          if ($(this).scrollTop() > 100) {
            // After scrolling down a certain amount (e.g., 100 pixels), hide the "scroll down" text
            scrollDownText.hide();
          } else {
            // If the user scrolls back up, show the "scroll down" text
            scrollDownText.show();
          }
        });
      });
    </script> %>
    <div data-controller="message-notifications">
    </div>
    <%= yield %>
  </body>
</html>
